.discountFormContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sectionTitle {
  font-weight: 600;
  color: var(--color-secondary-text);
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-border-light);
}

.discountTypeGroup {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  padding: 0 5px;
}

.discountTypeLabel {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 6px;
  border: 1px solid var(--color-border-light);
  position: relative;
  flex-grow: 1;
  justify-content: center;
}

.discountTypeLabel:hover {
  background-color: var( --color-secondary-bg-hover);
}

/* Removing the bullet from the input */
.discountTypeLabel input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

.discountTypeLabel.selected {
  border-color: var(--color-primary-bg-light, var(--color-primary-bg));
}


.discountValueInput {
  padding: 10px 12px;
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.discountValueInput::placeholder {
  color: var(--color-secondary-light-text);
  opacity: 0.7;
}

.discountValueInput:focus {
  outline: none;
  border-color: var(--color-primary-bg);
}

.newPriceSection {
  border-top: 1px solid var(--color-border-light, var(--color-primary-bg));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 6px;
  height: 100%;
  padding-top: 12px;
}

.newPriceLabel {
  font-weight: 500;
}

.newPriceValue {
  font-weight: 700;
  color: var(--color-primary-bg);
}

.errorMessage {
  color: var(--color-danger-bg);
  font-size: 0.9em;
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 2.5em;
}