# -- This is an example .env file for local development.
# -- Copy this file to .env and fill in the values. --
# -- Do not commit the .env file to version control. --

VITE_BASE_API_URL=http://localhost:3001/api
VITE_DEFAULT_LANGUAGE=fr