@import url('./styles/variables.css');

html,
body,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  height: 100%;
  width: 100;
}

.new-category-button:hover {
  background-color: var(--mantine-color-dark-6);
  border-color: var(--mantine-color-blue-6);
}
