.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.modalContent {
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  min-width: 80%;
  max-width: 80%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border-light);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.modalTitle {
  margin: 0;
  font-size: 1.5em;
}

.closeButton {
  background: none;
  border: none;
  font-size: 1.8em;
  line-height: 1;
  cursor: pointer;
  padding: 0 5px;
  transition: color 0.2s ease;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
}

.closeButton:hover {
  color: var(--color-secondary-hover);
}

.modalBody {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}


.orderList {
  list-style-type: none; 
  padding-left: 0;
  margin: 0;
}

.order {
  background-color: var(--color-secondary-bg); 
  border: 1px solid var(--color-border-light);
  border-radius: 6px;
  padding: 15px 20px;
  margin-bottom: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.orderHeader {
  margin-top: 0;
  border-bottom: 1px solid var(--color-border-light); 
   display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .orderHeader {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.orderHeader > h3 {
  font-size: 1.25em;
  font-weight: 600;
}

.orderItems { 
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.orderTotal {
  border-top: 1px solid var(--color-border-light); 
  font-weight: bold;
  padding-top: 10px;
  display: flex;
  justify-content: start;
  gap: 10px;
  font-size: 1.1em;
}