.catalogContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 5px;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
}

.header {
 display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding: 0px 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--color-border);
}

.title {
  font-size: 1.8em;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  flex-grow: 1;
}

.catalogBody {
  padding: 10px;
  overflow: auto;
}

@media (max-width: 900px) {
  .catalogContainer {
    height: 60%;
    width: 100%;;
    border-bottom: 2px solid var(--color-border);
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .catalogContainer {
    padding: 2px;
  }
  .cardList {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}