.catalogContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
}

.header {
  display: flex;
  justify-content: space-between;
  min-height: 58px;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid var(--color-border);
}

.title {
  font-size: 1.8em;
  padding: 0 10px;
  margin: 0;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  flex-grow: 1;
}

.catalogBody {
  padding: 10px;
  overflow: auto;
}

@media (max-width: 900px) {
  .catalogContainer {
    height: 55%;
    width: 100%;;
    border-bottom: 2px solid var(--color-border);
  }
  .cardList {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }
  .title {
    font-size: 1.4em;
  }

  .header {
    min-height: 40px;
    padding: 0;
  }
}