.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  border-bottom: 1px solid var(--color-border-light);
  color: var(--color-secondary-text);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.cartItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 900px) {
  .cartItem {
    padding: 5px 5px;
  }

  .itemDetails {
    flex-direction: row;
    gap: 10px;
    flex-grow: 0;
  }

  .itemName {
    font-size: 0.9em;
  }
  .itemQuantity {
    font-size: 0.9em;
  }
  .itemPrice {
    font-size: 0.85em;
  }
}

.itemName {
  font-weight: 600;
  font-size: 1em;
}

.itemPrice {
  font-size: 0.9em;
  margin-top: 2px;
}

.itemQuantity {
  font-weight: 600;
  color: var(--color-primary-bg);
  font-size: 1em;
}